#board, .black_square, .white_square {
	display:inline;
	padding:0px;
	margin:0px;
}

body{
    background-image: url('pics/background4.png');
    background-position: center;

}

#board {
	width:490px;
	height: 500px;
    position: absolute;
    border: 2px;
    margin: auto;
    right:0;
    left:0;
    border-color: black;
    border-style: solid;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.highlighted{
    background-color:#000000;
}

.black_square, .white_square {
	width:60px;
	height:60px;
	float:left;
}

.white_square span{
    top: 5px;
    position: relative;
}


.black_square {
	background-color:rgba(204, 204, 204, 1);
}

.white_square{
	background-color:#FFFFFF;
    font-size:36px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.selected{
    -webkit-box-shadow:0 0 50px yellow; 
    -moz-box-shadow: 0 0 50px yellow; 
    box-shadow:0 0 50px yellow;
}

.redcircle{
    width:50px;
    height:50px;
    border-radius:50%;
    font-size:20px;
    color:#ffffff;
    line-height:50px;
    text-align:center;
    vertical-align: middle;
    background:#ff0000;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    z-index: 999;

}

.highlighted{
    border: 2px;
    border-style: solid;
    border-color: yellow;
}

.bluecircle{
    width:50px;
    height:50px;
    border-radius:50%;
    font-size:20px;
    color:#ffffff;
    line-height:50px;
    text-align:center;
    vertical-align: middle;
    background:#009ACD;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    z-index: 999;
}

.main{
    position: fixed;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width:100%;
    height: 80%;
    background-color: rgba(255,255,255,0.8);
}

.dama{
    border: 4px;
    border-color: black;
    border-style: dotted;
}

body {
    position: relative;
    margin: 0;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    min-height: 100%;
    color: #777;
}

element.style {
}
span.header {
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 16px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
*, *:after, *:before {
    box-sizing: border-box;
}

element.style {
}
#headerbg{
  background: #8E0E00;
  background: -webkit-linear-gradient(to top,#800000, #A43931, #800000);
  background:    -moz-linear-gradient(to top,#800000, #A43931, #800000);
  background:         linear-gradient(to top,#800000, #A43931, #800000);
}

element.style {
}
h3 {
}
*, *:after, *:before {
    box-sizing: border-box;
}
user agent stylesheet
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}